@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: rgb(255, 255, 245);
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

*{
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

