@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.sliding-header {
  animation: slide-left 3s;
  animation-fill-mode: backwards;
}

@keyframes slide-left {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}
